{% extends 'base.html'%}

{% block content%}
<div class="container-fluid error">
    <div class="row">
        <div class="col-md-12 header">
            <img src="https://thumbs.dreamstime.com/b/error-page-not-found-robot-handyman-screw-driver-light-bulb-aged-metalic-background-text-message-error-page-not-found-125359405.jpg" height=200 style="text-align: center;">
            <h1 id="solong"> Error!!Are you sure what you are searching for exists!!</h1> 
        </div>
    </div>
</div>
{% endblock %}